<nav class="navbar navbar-expand-lg" style="background-color: lightsteelblue;">
  <div class="container-fluid d-flex justify-content-end">
    <a class="navbar-brand me-3" href="#">YelpCamp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"><b>Home</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds"><b>Campgrounds</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds/new"><b>New Campground</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup"><b>Signup</b></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
